body{
    background-image:url('live_feed.png');
    background-attachment:fixed;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-size:19px;
    color:burlywood;
}
.header {
    
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: burlywood;
    margin-top:-65px;
    width: 60%;
    height: 120px;
    margin-bottom:6%;}
    nav {
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        height:30px;
        padding: 10px;
        font-size:24px;
        margin-top: 5%;
        margin-left:-2%;
        width:100%;
        margin-right: 30px;
        background-image: url('https://img.freepik.com/free-photo/ultra-detailed-nebula-abstract-wallpaper-9_1562-754.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699315200&semt=sph');
          overflow: hidden;
      
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-top:-10px;
        
      }
      
      nav li {
        float: left;
        
      }
      
      nav li a {
        display: block;
        color: #fff; /* Text color */
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
      }
      
      nav li a:hover {
        background-color:teal; /* Background color on hover */
        color: #fff; /* Text color on hover */
      }
      
      /* Optional: Style for the active page link */
      nav li.active a {
        background-color: #4CAF50; /* Background color for the active link */
        color: #fff; /* Text color for the active link */
      }
      